<ion-header>
    <ion-navbar color="primary">
      <ion-title>Canción</ion-title>
      <ion-buttons start>
        <button ion-button (click)="cancel()">
          <span color="primary" showWhen="ios,android,windows">
            Cancelar
          </span>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>


<ion-content padding class="fondoNegro">

    <ion-card class="fondo">
        <img [src]="animalView.imagen"/>
        <ion-card-content>
          <ion-card-title>
              {{animalView.nombre}}
            </ion-card-title>
          <p>
             Duración: {{animalView.duracion}}
             <ion-icon *ngIf="!animalView.reproduciendo" ios="ios-play" md="md-play" item-right (click)="reproducir(animalView)"></ion-icon>
             <ion-icon *ngIf="animalView.reproduciendo" ios="ios-pause" md="md-pause" item-right></ion-icon>
            <ion-range min="0" [max]="animalView.duracion * 20" [(ngModel)]="valor" color="danger"></ion-range>
          </p>
        </ion-card-content>
      </ion-card>
</ion-content>
