<ion-header>
  <ion-navbar color="barra" (click)="next(1)">
      <img src="assets/imgs/spot2.png">
  </ion-navbar>
</ion-header>

<ion-content padding class="fondo">

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

    <ion-list class="fondo" no-lines>
        <ion-item-sliding *ngFor="let animal of animales ; let i = index">
          <ion-item (click)="reproducir(animal)" class="fondo">
            <ion-avatar item-start>
              <img [src]="animal.imagen">
            </ion-avatar>
            <h2 class="colorLetra">{{animal.nombre}}</h2>
            <p class="colorLetra2">Ugh. As if.</p>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="danger" (click)="borrar(i)">
              <ion-icon name="trash"></ion-icon>
              Borrar
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
</ion-content>